.container{
    background: #191919;
}
.header-box{
    display: flex;
    justify-content: space-between;
    padding: 43px 50px 43px 50px;
}
.header-box ul{
    display: flex;
    color: white;
    font-family: DM Sans,sans-serif;
    font-size: 17px;
    list-style: none;
    column-gap: 40px
}