.sec4{
    background: #191919;
}
.sec4-box{
    padding: 201px 70px 0 70px;
}
.sec4-card{
    display: flex;
    background: black;
    width: 1300px;
    border-radius: 32px;
    height: 387px;
}
.sec4-card_left{
    padding: 60px 0 143px 60px;
}
.sec4-card_left h2{
    color: white;
    font-family: DM Sans,sans-serif;
    font-size: 72px;
}
.sec4-card_left h5{
    color: #118DA8;
    font-family: DM Sans,sans-serif;
    font-size: 18px;
}
.sec4-card_right{
    padding: 60px 60px 75px 227px;
}
.sec4-card_right input{
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    margin-bottom: 20px;
    padding-left: 19px;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans,sans-serif;
    font-size: 24px;
}
.sec4-card_right button{
    width: 87px;
    height: 48px;
    border-radius: 6px;
    background: #118DA8;
    color: white;
}
.sec5{
    background: #191919;
}
.sec5-box{
    padding: 174px 70px 0 70px;
}
.sec5-top-card{
    display: flex;
}
.sec5-top-card p{
    padding-top: 21px;
    color: #FFF;
    font-family: DM Sans,sans-serif;
    font-size: 36px;
}
.sec5-top-card h4{
    padding-top: 19px;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans,sans-serif;
    font-size: 24px;
}
.sec5-top-card_left{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
}
.sec5-top-card_center{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
    margin: 0 15px 0 16px;
}
.sec5-top-card_right{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
}
.sec5-bottom-card{
    display: flex;
    padding-top: 16px;
}
.sec5-bottom-card p{
    padding-top: 21px;
    color: #FFF;
    font-family: DM Sans,sans-serif;
    font-size: 36px;
}
.sec5-bottom-card h4{
    padding-top: 19px;
    color: rgba(255, 255, 255, 0.70);
    font-family: DM Sans,sans-serif;
    font-size: 24px;
}
.sec5-bottom-card_left{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
}
.sec5-bottom-card_center{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
    margin: 0 15px 0 16px;
}
.sec5-bottom-card_right{
    padding: 54px 60px 51px 50px;
    background: black;
    width: 423px;
    height: 321px;
    border-radius: 32px;
}
